{% extends 'base.html.Twig' %}

{% block stylesheets_before %}
	<link rel="stylesheet" href="{{ asset('assets/identity/css/main.css') }}" />
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/nav/css/main.css') }}" />
    <style>
    /* Main */

	#main {
        flex-grow: 0;
        width: 25%;
	}

    /* body */

    body {
        padding-top: 0;
		height: 100%;
		background-color: #ffffff;
		background-image: url(utilisateur.dataUser.link), -moz-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../../images/bg.jpg");
		background-image: url(utilisateur.dataUser.link), -webkit-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../../images/bg.jpg");
		background-image: url(utilisateur.dataUser.link), -ms-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../../images/bg.jpg");
		background-image: url(utilisateur.dataUser.link), linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../../images/bg.jpg");
		background-repeat: repeat,			no-repeat,			no-repeat;
		background-size: 100px 100px, cover,				cover;
		background-position: top left,		center center,		bottom center;
		background-attachment: fixed,			fixed,				fixed;
	}

		body:after {
			content: '';
			display: block;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: inherit;
			opacity: 0;
			z-index: 1;
			background-color: #ffffff;
			background-image: url(utilisateur.dataUser.link), -moz-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35));
			background-image: url(utilisateur.dataUser.link), -webkit-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35));
			background-image: url(utilisateur.dataUser.link), -ms-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35));
			background-image: url(utilisateur.dataUser.link), linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35));
			background-repeat: repeat,			no-repeat;
			background-size: 100px 100px, cover;
			background-position: top left,		center center;
			-moz-transition: opacity 1.75s ease-out;
			-webkit-transition: opacity 1.75s ease-out;
			-ms-transition: opacity 1.75s ease-out;
			transition: opacity 1.75s ease-out;
		}

		body.is-preload:after {
			opacity: 1;
		}

    /* wrapper */
    
    #wrapper{
        margin-left: 0px;
        margin-right: 0px;
        padding-right: 0px;
        padding-left: 0px;
        width: 100%;
        
    }
    
    </style>
{% endblock %}

{% block body %}
    <section id="main">
        <header>
            <span class="avatar">
                <img style="height 122px; witdh: 122px;" src="{{ asset(utilisateur.dataUser.link) }}" alt="" />
            </span>
            <h1>{{utilisateur.civility.name}} {{utilisateur.civility.firstName}}</h1>
            <p>{{utilisateur.civility.description}}</p>
            {% if user != null %}
                {% if utilisateur != app.user %}
                    <a href="{{ path('follow_this', {'id': utilisateur.id}) }}" class="button alt js-follow">
                        {% if utilisateur.isFollowByUser(app.user) %}
                        {% set data = "Following"  %}
                        {% else %}
                        {% set data = "Follow" %}
                        {% endif %}
                        <div
                        {# Si on a l'activiter alors ça ajoute la balise #}
                        {% if utilisateur.isFollowByUser(app.user) %}
                        class="followDiv removeFollow"
                        {% else %}
                        class="followDiv addFollow"
                        {% endif %}> 
                            <span class="js-data">{{ data }}</span>
                        </div>
                    </a>
                {% endif %}
            {% endif %}
        </header>
        <footer>
            <ul class="icons">
                {% if utilisateur.dataUser.twitter != null %}
                    <li>
                        <a href="https://www.twitter.com/{{utilisateur.dataUser.twitter}}" class="fa-twitter">Twitter</a>
                    </li>
                {% endif %}
                {% if utilisateur.dataUser.instagram != null %}
                    <li>
                        <a href="https://www.instagram.com/{{utilisateur.dataUser.instagram}}" class="fa-instagram">Instagram</a>
                    </li>
                {% endif %}
                {% if utilisateur.dataUser.facebook != null %}
                    <li>
                        <a href="https://www.facebook.com/{{utilisateur.dataUser.facebook}}" class="fa-facebook">Facebook</a>
                    </li>
                {% endif %}
            </ul>
        </footer>
    </section>
{% endblock %}	

{% block javascripts %}
    {# Axios #}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        // fonction de l'evenement
        function onClickBtnFollow(event){
            event.preventDefault();
            // les variables
            const url = this.href;
            const btn = this.querySelector('div.followDiv');
            const span = this.querySelector('span.js-data');
            // la requete
            axios.get(url).then(function(response) {
                if (btn.classList.contains('addFollow')) {
					span.textContent = "Following";
                    btn.classList.replace('addFollow', 'removeFollow');
                } else {
					span.textContent = "Follow";
                    btn.classList.replace('removeFollow', 'addFollow'); 
                } 
            }).catch(function (error) {
                if (error.response.status === 403) {
                    window.alert("Accès refusé !");
                } else if (error.response.status === 404) {
                    window.alert("Requête non trouvée !");
                } else if (error.response.status === 401) {
                    window.alert("Vous n'êtes pas connecté !");
                } else {
                    window.alert("Une erreur s'est produite, réessayez plus tard");
                }
            });
        }
        // pour chaque a avec la class js-act , boucle les liens
        document.querySelectorAll('a.js-follow').forEach(function(link){
            // ajoute l'evenement on click
            link.addEventListener('click', onClickBtnFollow);
        })
    </script>
{% endblock %}
                    